{{>header}}
<div class="container">

    {{#each articles}}

    <div class="row article" id="article-{{@index}}">
        <div class="col-md">
            {{#if image}}
            <img src={{image}} alt="" class="article-image">
            {{/if}}
        </div>
        <div class="col-md">
            {{!-- Article title --}}
            <h2 class="title"><a href="{{link}}">{{title}}</a></h2>
        </div>
        <div class="col-md">
            {{!-- Content --}}
            <p class="content">{{content}}</p>
        </div>
        <div class="col-md">
            {{!-- Save article button --}}
            <button class="save-article btn-success btn" id="{{@index}}" type="button">Save</button>
        </div>
    </div>

    {{/each}}
</div>
{{>footer}}